/*
#F1FAEE
#1D3557
#E63946
*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.web-head {
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;;
    background-color: #F1FAEE;
}

.logo-head {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.logo-head h2{
    padding: 20px;
    color: #1D3557;
}

.logo-head h2:hover {
    cursor: context-menu;
}

.logo-head img {
    height: 50px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.logo-head img {
    transform: rotate(0deg);
    transition: 2s;

}

.logo-head img:hover {
    animation-name: animate;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.nav-head {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    padding-right: 50px;
}

.nav-head ul li {
    list-style-type: none;
    display: inline;
    padding-right: 30px;
}
.nav-head ul li a{
    font-size: 20px;
    color:  #1D3557;
    text-decoration: none;
    font-weight: 600;
}

.nav-head ul li a{
    position: relative;
}

.nav-head a:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-head a:hover:before{
    visibility: visible;
    color: peachpuff;
    width: 100%;
}


.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #1D3557;
    color: white;
}

.main-body div {
    width: 50%;
    text-align: center;
    font-size: 24px;
}

.main-body div h2 {
    font-size: 32px;
    padding: 20px;
}

.about-body {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    min-height: 85vh;
    background-color: #1D3557;
    color: white;
}

.team {
    width: 50%;
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.team div {    
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1FAEE;
    color: #1D3557;
    height: 25%;
    width: 31%;
    text-align: center;
    border-radius: 5px;
}

.team div:hover {
    background-color: #1D3557;
    color: white;
    transition: 0.2s;
}

.schedule-body div:last-child {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    color: #1D3557;
}

.schedule-body div:last-child ul  {
    padding: 15px;
    margin-left: 20px;
}

.schedule-body div:last-child ul li {
    padding: 10px;
}

.team div img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
    height: 50%;
    border-radius: 100%;
}

.team div p {
    padding : 5px;
}


.about-body div h2 {
    padding-bottom: 10px;
    text-align: center;
}

.schedule-body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    min-height: 85vh;
    background-color: #F1FAEE;
    color: black;
}

.schedule-body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:45vh;
}

.schedule-body div table {
    border-collapse: collapse;
    font-size: 16px;
    width: 50%;
    margin: 20px;
    color: #1D3557;
}

.schedule-body div h2 {
    color: #1D3557;
}

.schedule-body div table tr:nth-child(odd) {
    background-color: #CEECF5;
}

.schedule-body div table tr td:first-child {
    font-weight: 600;
}

td, th {
    padding: 5px;
    text-align: center;
}


.our-business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    line-height: 1.5;
    margin: 20px;
}

.our-business h2 {
    color: #E63946;
    font-size: 28px;
}

.our-business p {
    font-size: 20px;
    color: #1D3557;
}

.our-business div a:hover {
    color: white;
}

.our-business div p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.our-business div p {
    padding-top: 10px;
}

.intro-business {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
}

.intro-business div {
    flex: 1;
    padding: 15px;
    line-height: 1.5;
    font-size: 20px;
    margin: 10px;

}

.intro-business div:nth-child(even) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left-style: solid;
    border-color: #1D3557;
    border-width: 2px;

}

.intro-business div:first-child {
    display: flex;
    align-items: center;
}

.intro-business div h2 {
    color: #E63946;
}

.intro-business div p {
    padding-top: 10px;
}

.intro-business div img {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    min-height: 15vh;
    background-color: #E63946;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
}

.footer div {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.foot-nav {
    width: 25%;
}

.foot-cop {
    width: 30%;
}

.foot-info {
    width: 25%;

}

.footer div:last-of-type {
    flex-direction: row;
    flex-wrap: wrap;
}

.footer div div:last-of-type {
    flex-direction: column;
}

.footer div div {
    flex-basis: 100%;
    text-align: center;
    margin: 5px;
}


.footer div ul li {
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}

.footer div ul li:first-child {
    font-weight: bolder;
    text-decoration: underline
}

.footer div div p:first-child {
    font-weight: bolder;
    text-decoration: underline;
}

.footer div a {
    color: white;
    text-decoration: none;
}

.about-body h2{
    margin-bottom: 30px;
}

.web-head div:last-child {
    display: none;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    
}

#close {
    display: none;
}

.foot-cop{
    text-align: center;
    padding: 5px;
    font-size: 12px;
}
/*#f14655;
#ec6e78*/
.div{
    width: 100%;
    text-align: center;

}
div ul{
    align-content: center;
    position: relative;
    display: inline-block;
}