@media(max-width:1025px){
    .web-head{
        padding: 10px 30px;
        align-items:normal ;
        flex-direction: normal;
        
    }
    .logo-head{
        flex:none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .web-head .fa{
        display: block;
        color: #1D3557;
        margin: 10px 25px;
        font-size: 26px;
        cursor: pointer;
    }
    .nav-head{
        height: 100vh;
        width: 200px;
        background-color:rgb(250, 248, 248);
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.55s;
        padding-right: 0;
    }
    .nav-head ul{
        padding:80px 40px 80px 20px;
    }

    .nav-head ul a{
        display: block;
    }
    .fa-bars{
    padding-top: 30px;
    }
    .nav-head .fa{
        padding-top: 30px;
    }
    .main-body h2{
        padding-top: 130px;
    }
}

@media(max-width:1370px){
    .team div{
        display: inline-block;
        height: 500px;
        width: 500px;
        margin: 20px;
        background-color: #F1FAEE;
    }
    .about-body{
        height: auto;
   
        
    }
}