@media only screen and (max-width: 1570px) {
    .main-body div {
        font-size: 14px;
    }

    .main-body div h2 {
        font-size: 24px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .foot-nav {
        width: 100%;
        order: 1;
        margin: 10px;
    }

    .foot-info {
        width: 100%;
        order: 2;
        margin: 20px;
    }
    
    .foot-cop {
        width: 100%;

        order: 3;
    }

    .footer div div {
        flex-basis: 20%;
        border-style: none;
    }
} 

@media only screen and (max-width:1025px){
    .web-head{
        padding: 10px 30px;
        align-items:normal ;
        flex-direction: normal;
        
    }
    .logo-head{
        flex:none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #close {
        position: absolute;
        top: 50px;
        left: 20px;
        font-size: 24px;
    }
    
    #close:hover {
        cursor: pointer;
    }

    .web-head div:last-child {
        display: flex;
        color: #1D3557;
        margin: 10px 25px;
        font-size: 26px;
        cursor: pointer;
    }

    .nav-head{
        height: 100vh;
        width: 200px;
        background-color:rgb(250, 248, 248);
        transform: translateX(200px);
        position: absolute;
        display: none;
        top: 0px;
        right: 0px;
        text-align: left;
        z-index: 2;
        transition: 0.55s;
        padding-right: 0;
        text-align: center;
    }
    .nav-head ul{
        padding:80px 40px 80px 20px;
    }

    .nav-head ul a{
        display: block;
    }

    .main-body h2{
        padding-top: 130px;
    }

    .our-business h2 {
        font-size: 24px;
    }

    .our-business p {
        font-size: 16px;
        color: #1D3557;
    }

    .intro-business div {
        font-size: 16px;
        
    }

    .schedule-body div:first-child h2 {
        font-size: 24px;
    }
    
    .schedule-body div table {
        width: 95%;
    }

    .schedule-body div:last-child h2 {
        font-size: 24px;
    }

    .schedule-body div:last-child ul li  {
        font-size: 18px;
    }

    .team {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: 100%;
    }

    .team div {
        width: 25%;
        height: 25%;
    }

    .team div img {
        width: 45%;
        height: 45%;
        border-radius: 100%;
    }

}

@media only screen and (max-width: 800px) {
    .team {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 14px;
    }

    .team div {
        width: 30%;
        height: 35%;
    }

    .team div img {
        width: 30%;
        height: 30%;
        border-radius: 100%;
    }
}

@media only screen and (max-width: 710px) {
    .main-body div p {
        font-size: 16px;
    }

    .main-body div h2 {
        font-size: 20px;
    }

    .intro-business {
        flex-direction: column;
    }

    .intro-business div {
        margin: 0px;
        padding: 0px;
    }


    .intro-business div h2 {
        margin-left: 20px;
        margin-top: 20px;
    }

    .intro-business div p {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .intro-business div:nth-child(even) {
        border: none;
    }

    .footer {
        font-size: 12px;
    }

    .schedule-body div:first-child h2 {
        font-size: 24px;
    }
    
    .schedule-body div table {
        width: 95%;
        font-size: 14px;
    }

    .schedule-body div:last-child h2 {
        font-size: 22px;
    }

    .schedule-body div:last-child ul li  {
        font-size: 16px;
    }


}

@media only screen and (max-width: 530px) {
    .main-body div p {
        font-size: 12px;
    }

    .main-body div h2 {
        font-size: 16px;
    }

    .our-business h2 {
        color: #E63946;
        font-size: 20px;
    }
    
    .our-business p {
        font-size: 14px;
        color: #1D3557;
    }

    .intro-business h2 {
        color: #E63946;
        font-size: 20px;
    }
    
    .intro-business p {
        font-size: 14px;
        color: #1D3557;
    }

    .main-body div {
        width: 70%;
        text-align: center;
    }

    .schedule-body div:first-child h2 {
        font-size: 24px;
    }
    
    .schedule-body div table {
        width: 75%;
        font-size: 10px;
    }

    .schedule-body div:last-child h2 {
        font-size: 20px;
    }

    .schedule-body div:last-child ul li  {
        font-size: 14px;
    }

    .team {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 10px;
    }

    .team div {
        width: 30%;
        height: 35%;
    }

    .team div img {
        width: 30%;
        height: 30%;
        border-radius: 100%;
    }
}

@media only screen and (max-width: 405px){
    .about-body {
        min-height: 85vh;
    }

    .team {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 9px;
    }

    .team div {
        width: 30%;
        height: 35%;
    }

    .team div img {
        width: 30%;
        height: 30%;
        border-radius: 100%;
    }

    .schedule-body div:first-child h2 {
        font-size: 20px;
    }
    
    .schedule-body div table {
        width: 75%;
        font-size: 9px;
    }

    .schedule-body div:last-child h2 {
        font-size: 18px;
    }

    .schedule-body div:last-child ul li  {
        font-size: 12px;
    }
}

@media only screen and (max-width: 335px) {
    
    .team {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 9px;
    }

    .team div {
        width: 35%;
        height: 25%;
    }

    .team div img {
        width: 30%;
        height: 30%;
        border-radius: 100%;
    }

}