@media(max-width:1025px){
    .web-head{
        padding: 10px 30px;
        align-items:normal ;
        flex-direction: normal;
        
    }
    .logo-head{
        flex:none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .web-head .fa{
        display: block;
        color: #E63946;
        margin: 10px 25px;
        font-size: 26px;
        cursor: pointer;
    }
    .nav-head{
        height: 100vh;
        width: 200px;
        background: #666;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.55s;
        padding-right: 0;
    }
    .nav-head ul{
        padding:80px 20px;
    }

    .nav-head ul a{
        display: block;
    }
}